<%= provide(:title, 'Описание игры') %>

<div class="mw-parser-output">
  <p><b>Камень, ножницы, бумага</b>&nbsp;— популярная игра на руках, известная
    во многих странах мира. Она часто используется как способ
    <a href="#"
    title="Жеребьёвка">жеребьёвки</a> для определения очерёдности хода или
    ведущего в других играх.
  </p>

  <div class="thumb tright">
    <div class="thumbinner" style="width:312px;">
      <table style="background: transparent; border: 0; padding: 0; margin: 0; width:306px;" cellspacing="0">
        <tbody>
          <tr>
            <td style="padding: 0; margin: 0;" class="thumbimage"><a href="//commons.wikimedia.org/wiki/File:Rock-paper-scissors_(rock).png?uselang=ru" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Rock-paper-scissors_%28rock%29.png/100px-Rock-paper-scissors_%28rock%29.png" decoding="async" width="100" height="100" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Rock-paper-scissors_%28rock%29.png/150px-Rock-paper-scissors_%28rock%29.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Rock-paper-scissors_%28rock%29.png/200px-Rock-paper-scissors_%28rock%29.png 2x" data-file-width="2500" data-file-height="2500"></a>
            </td>
            <td style="padding: 0; margin: 0; border: 0; width: 2px">
            </td>
            <td style="padding: 0; margin: 0;" class="thumbimage"><a href="//commons.wikimedia.org/wiki/File:Rock-paper-scissors_(scissors).png?uselang=ru" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Rock-paper-scissors_%28scissors%29.png/100px-Rock-paper-scissors_%28scissors%29.png" decoding="async" width="100" height="100" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Rock-paper-scissors_%28scissors%29.png/150px-Rock-paper-scissors_%28scissors%29.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Rock-paper-scissors_%28scissors%29.png/200px-Rock-paper-scissors_%28scissors%29.png 2x" data-file-width="2500" data-file-height="2500"></a>
            </td>
            <td style="padding: 0; margin: 0; border: 0; width: 2px">
            </td>
            <td style="padding: 0; margin: 0;" class="thumbimage"><a href="//commons.wikimedia.org/wiki/File:Rock-paper-scissors_(paper).png?uselang=ru" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/af/Rock-paper-scissors_%28paper%29.png/100px-Rock-paper-scissors_%28paper%29.png" decoding="async" width="100" height="100" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/af/Rock-paper-scissors_%28paper%29.png/150px-Rock-paper-scissors_%28paper%29.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/af/Rock-paper-scissors_%28paper%29.png/200px-Rock-paper-scissors_%28paper%29.png 2x" data-file-width="2500" data-file-height="2500"></a>
            </td>
          </tr>
          <tr>
            <td style="padding: 0; margin: 0; border: 0;" colspan="5">
              <div class="thumbcaption">
                Каждый из трёх знаков (слева направо: <a href="/wiki/%D0%9A%D0%B0%D0%BC%D0%B5%D0%BD%D1%8C" title="Камень">камень</a>, <a href="/wiki/%D0%9D%D0%BE%D0%B6%D0%BD%D0%B8%D1%86%D1%8B" title="Ножницы">ножницы</a>, <a href="/wiki/%D0%91%D1%83%D0%BC%D0%B0%D0%B3%D0%B0" title="Бумага">бумага</a>) побеждает один из двух оставшихся и проигрывает другому.</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <p>Игроки считают вместе вслух  «Камень… Ножницы… Бумага… Раз… Два… Три»,
    одновременно качая кулаками. Существуют и другие варианты счёта,
    распространённость которых различается в разных городах и регионах,
    например, «Су-е-фа!» («Су-ли-фа»), «Рас(е)л-двас(е)л-трис(е)л!», «Пи-Ни-Ко!»,
    «Эна-бена-цо!», «Ван-чу-фри», «Бу-це-фа», «Аль… ман… джуз!», «Чу-ва-чі!» 
    и другое. На счёт «Три» они одновременно показывают при помощи руки один
    из трёх знаков: камень, ножницы или бумагу.
  </p>
  <p>Знаки изображены на картинке.
  </p>
  <p>Победитель определяется по следующим правилам:
  </p>
  <ul>
    <li>Бумага побеждает камень («бумага обёртывает камень»).</li>
    <li>Камень побеждает ножницы («камень затупляет или ломает ножницы»).</li>
    <li>Ножницы побеждают бумагу («ножницы разрезают бумагу»).</li>
  </ul>
  <p>Если игроки показали одинаковый знак, то засчитывается ничья и игра переигрывается.
  </p>
  <p>В классическом варианте в игру играют вдвоём, однако возможна игра большего количества участников. При этом ничья засчитывается в ситуации, когда в компании игроков появились все три жеста (это иногда называют «кашей»), или если все игроки показали один и тот же знак.
  </p>
</div>
